APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CAS_URL=url

CLOUDSTACK_APIKEY=
CLOUDSTACK_SECRETKEY=
CLOUDSTACK_URL=

WEBDB_URL=
WEBDB_IP=
WEBDB_EXAMPLES=
WEBDB_ADMIN=
WEBDB_IMAGE_NAME=
WEBDB_IMAGE_MYSQL_PASS=
WEBDB_API_URL=
WEBDB_BACKEND_KEY=key
WEBDB_MAILCATCHER_SSL_PATH=
WEBDB_PROJECT_DEADLINE="04-01-2016 18:00"

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
