phpMyAdmin
.vagrant
.idea
.Trash-1000
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
storage/webdb.key
storage/oauth-private.key
storage/oauth-public.key
public/css/*
public/fonts/*
public/img/*
public/js/*
resources/views/index.blade.php