@charset "utf-8";
@import '~bulma/bulma';

html {
    overflow-x: unset;
    overflow-y: unset;
    background: #DBDBDB;
}

body{
    margin:0;
    padding:0;
    background: #DBDBDB;
    font-size: 13px;
}

#header{
    height: 100px;
    background: #ffffff;
    padding-top: 25px;
}

#logo {
    background: url('logo.png') no-repeat;
    height: 30px;
    width: 944px;
    margin: 0 auto 0 auto;
    padding: 25px 0 0 10px;
}

#logo div{
    padding-top: 5px;
    padding-left:30px;
    font-family: sans-serif;
    font-size: 17px;
}

#nav{
    margin:0;
    padding:0;
    width: 100%;
    height: 50px;
    background: #333333;
}

ul#menu{
    width: 944px;
    margin: 0 auto 0 auto;
    padding-left: 0;
}

ul#menu li, ul#menu li a  {
    list-style:none;
    float:left;
    font-family: "MetaWeb",Arial;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 50px;
    text-decoration: none;
}

ul#menu li a {
    padding: 0 25px 0 25px;
}

ul#menu li:hover{
    background: #BC0031;
}

#main {
    width: 944px;
    margin: 0 auto 0 auto;
    background: white;
    padding: 5px;
}

h1 {
    font-family: "MetaSerifWeb",Arial;
    font-weight: 700;
    color: #231F20;
    line-height: 34px;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-family: "MetaSerifWeb",Arial;
    font-weight: 700;
    color: #231F20;
    line-height: 25px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#main {
    font-family: Arial;
    font-size: 13px;
}
